<mat-card [ngSwitch]="vista">
    <mat-card-header>
        <div class="row titulo">
            <div class="col">
                {{ 'plan_estudios.crear_editar' | translate }}
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <ng-container *ngSwitchCase="VIEWS.LIST">
            <fieldset [@fadeInOut] [ngClass]="{'fieldseter':true}">
                <legend><small>&nbsp; {{ 'plan_estudios.planes_estudio_creados' | translate }} </small></legend>
                <!-- <legend><small>&nbsp; Planes de estudio creados </small></legend> -->
                <div class="alinear-center">
                    <div class="advertencia">{{ 'plan_estudios.mensaje_soporte_multiple_proyecto' | translate }}</div>
                </div>
                <!-- <ng2-smart-table [settings]="tbPlanesEstudio" [source]="dataPlanesEstudio">
                </ng2-smart-table> -->
                <table mat-table [dataSource]="dataPlanesEstudio" class="mat-elevation-z5">

                    <ng-container matColumnDef="plan_estudios">
                        <th mat-header-cell *matHeaderCellDef> Plan de estudios </th>
                        <td mat-cell *matCellDef="let element"> {{element.plan_estudio}} </td>
                    </ng-container>

                    <ng-container matColumnDef="proyecto_curricular">
                        <th mat-header-cell *matHeaderCellDef> Proyecto curricular </th>
                        <td mat-cell *matCellDef="let element"> {{element.proyectoCurricular}} </td>
                    </ng-container>

                    <ng-container matColumnDef="resolucion">
                        <th mat-header-cell *matHeaderCellDef> Resolución </th>
                        <td mat-cell *matCellDef="let element"> {{element.resolucion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total_creditos">
                        <th mat-header-cell *matHeaderCellDef> Total créditos </th>
                        <td mat-cell *matCellDef="let element"> {{element.totalCreditos}} </td>
                    </ng-container>

                    <ng-container matColumnDef="plan_estudios_ciclos">
                        <th mat-header-cell *matHeaderCellDef> Plan de estudios por ciclos </th>
                        <td mat-cell *matCellDef="let element"> {{element.planPorCiclos}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ver_editar">
                        <th mat-header-cell *matHeaderCellDef> Ver/Editar </th>
                        <td mat-cell *matCellDef="let element">
                            <button *ngIf="element.ver.type == 'ver'" mat-raised-button color="primary" [disabled]="element.ver.disabled" (click)="viewStudyPlan(element.Id)">
                                <mat-icon class="icon-boton">search</mat-icon>
                            </button>
                            <button *ngIf="element.ver.type == 'editar'" mat-raised-button color="primary" [disabled]="element.ver.disabled" (click)="prepareFormUpdateStudyPlan(element.Id)">
                                <mat-icon class="icon-boton">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="observacion">
                        <th mat-header-cell *matHeaderCellDef> Ver observación </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="primary" *ngIf="!element.ver_ob.disabled" [disabled]="element.ver_ob.disabled" (click)="viewObservation(element.Id)">
                                <mat-icon class="icon-boton color-negro">search</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="enviar">
                        <th mat-header-cell *matHeaderCellDef> Enviar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button color="primary" *ngIf="!element.enviar.disabled" [disabled]="element.enviar.disabled" (click)="send2ReviewStudyPlan(element.Id)"><mat-icon class="icon-boton color-negro">send</mat-icon></button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPlanesEstudio"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsPlanesEstudio;"></tr>
                </table>
                <mat-paginator class="paginacion" [pageSize]="10">
                </mat-paginator>

                <div class="alinear-center-espacio-doble" [class.generate]="habilitadoGenerarPlan">
                    <button mat-raised-button color="primary" (click)="nuevoPlanEstudio()">{{ 'plan_estudios.crear' | translate }}</button>
                    <button mat-raised-button color="primary" (click)="organizarPlanEstudioCompuesto()">{{ 'plan_estudios.organizar' | translate }}</button>
                </div>
            </fieldset>
        </ng-container>
        <ng-container *ngSwitchCase="VIEWS.FORM">
            <fieldset [@fadeInOut] [ngClass]="{'fieldseter':true}" class="sombra-mini">
                <legend class="modo-ventana">
                    <small>&nbsp; {{ 'plan_estudios.crear_editar' | translate }} </small>
                    <i class="fa fa-times fa-2xs button cancel" aria-hidden="true"
                        title="{{'GLOBAL.cancelar' | translate}}" (click)="cancelar()"></i>
                </legend>
                <mat-horizontal-stepper #stepper [linear]="true">
                    <mat-step [stepControl]="formGroupPlanEstudio" errorMessage="{{ 'GLOBAL.diligenciar_paso' | translate }}">
                        <ng-template matStepLabel>{{ 'espacios_academicos.select_proyecto' | translate }}</ng-template>
                        <dinamic-form-group [defineForm]="formPlanEstudio" (subsChanges)="cambioEn($event)"
                            (createdForm)="asignarForm($event)"
                            (updatedForm)="actualizarForm($event)"></dinamic-form-group>
                        <div class="alinear-center" [class.right]="!enEdicionPlanEstudio">
                            <button mat-raised-button (click)="limpiar()" [hidden]="!enEdicionPlanEstudio || !modoCreacion">{{ 'GLOBAL.limpiar' | translate}}</button>
                            <button mat-raised-button [color]="formGroupPlanEstudio.valid ? 'primary' : ''" (click)="guardar(stepper)" [disabled]="!formGroupPlanEstudio.valid" [hidden]="!enEdicionPlanEstudio">{{ 'GLOBAL.guardar_continuar' | translate }}</button>
                            <button mat-raised-button matStepperNext [hidden]="enEdicionPlanEstudio">{{'GLOBAL.siguiente' | translate }}</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>{{ 'plan_estudios.parametrizacion_semestral' | translate}}</ng-template>
                        <div class="alinear-center">
                            <div class="advertencia">
                                {{'plan_estudios.mensaje_tabla_espacios_si_vacio_solicite_inclusion' | translate }}
                            </div>
                        </div>
                        <!-- <ng2-smart-table [settings]="tbEspaciosAcademicos" [source]="dataEspaciosAcademicos"
                            (custom)="onAction($event)">
                        </ng2-smart-table> -->
                        <table mat-table [dataSource]="dataEspaciosAcademicos" class="mat-elevation-z5">

                            <ng-container matColumnDef="#">
                                <th mat-header-cell *matHeaderCellDef> # </th>
                                <td mat-cell *matCellDef="let element; let i = index"> {{ i + 1 }} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef> Espacio académico </th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="pre_requisitos">
                                <th mat-header-cell *matHeaderCellDef> Espacios requeridos (pre requisitos) </th>
                                <td mat-cell *matCellDef="let element"> {{element.prerequisitos_str}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="clase">
                                <th mat-header-cell *matHeaderCellDef> Clase </th>
                                <td mat-cell *matCellDef="let element"> {{element.clase}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="creditos">
                                <th mat-header-cell *matHeaderCellDef> Número de créditos </th>
                                <td mat-cell *matCellDef="let element"> {{element.creditos}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-raised-button (click)="aniadirASemestre(element._id)" class="btn-accion" color="primary" [disabled]="!(enEdicionSemestreNuevo || enEdicionSemestreViejo)">+</button>
                                </td>
                            </ng-container>
        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsEspaciosAcademicos"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsEspaciosAcademicos;"></tr>
                        </table>
                        <mat-paginator class="paginacion" [pageSize]="10">
                        </mat-paginator>
                        <div class="alinear-right espacio-doble">
                            <mat-card status="success" class="recuadro">
                                <mat-card-header class="d-flex justify-content-around align-items-center" style="padding: 5px;">
                                    {{ 'plan_estudios.total_espacios_asignar' | translate }}
                                </mat-card-header>
                                <mat-card-content class="d-flex justify-content-around align-items-center"
                                    style="padding: 5px;">
                                    <label><b>{{ dataEspaciosAcademicos.data.length }}</b></label>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="alinear-center espacio">
                            <button mat-raised-button matStepperPrevious [hidden]="enEdicionPlanEstudio">{{
                                'GLOBAL.regresar' | translate }}</button>
                            <button mat-raised-button color="primary" (click)="agregarSemestre()"
                                [disabled]="enEdicionSemestreNuevo || enEdicionSemestreViejo"
                                [hidden]="!enEdicionPlanEstudio || numSemestresCompletado">{{
                                'plan_estudios.agregar_semestre' | translate }}</button>
                            <button mat-raised-button color="primary" (click)="generarPlanEstudio()"
                                [disabled]="enEdicionSemestreNuevo || enEdicionSemestreViejo">{{
                                'plan_estudios.generar_plan' | translate }}</button>
                            <button mat-raised-button (click)="salirEdicionFormulario()"
                                [disabled]="enEdicionSemestreNuevo || enEdicionSemestreViejo">{{ 'GLOBAL.salir' |
                                translate }}</button>
                        </div>
                        <mat-accordion>
                            <mat-expansion-panel hideToggle *ngFor="let semestre of dataSemestre.data; let numero = index"
                                [expanded]="(numero) === punteroSemestrePlan">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{ 'plan_estudios.semestre' | translate }} # {{ numero + 1 }}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="custom-action-tb"
                                    [class.hide]="!this.enEdicionSemestreNuevo && !this.enEdicionSemestreViejo">
                                    <!-- <ng2-smart-table [settings]="tbSemestre" [source]="semestre"
                                        (custom)="onAction($event)">
                                    </ng2-smart-table> -->
                                    <table mat-table [dataSource]="semestre" class="mat-elevation-z5">

                                        <div>{{semestre}}</div>
                                        <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef> Espacio académico </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.nombre }} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="creditos">
                                            <th mat-header-cell *matHeaderCellDef> Créditos </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.creditos }} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="htd">
                                            <th mat-header-cell *matHeaderCellDef> HTD </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.htd }} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="htc">
                                            <th mat-header-cell *matHeaderCellDef> HTC </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.htc }} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="hta">
                                            <th mat-header-cell *matHeaderCellDef> HTA </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.hta }} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="OB">
                                            <th mat-header-cell *matHeaderCellDef> OB </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.OB }} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="OC">
                                            <th mat-header-cell *matHeaderCellDef> OC </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.OC }} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="EI">
                                            <th mat-header-cell *matHeaderCellDef> EI </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.EI }} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="EE">
                                            <th mat-header-cell *matHeaderCellDef> EE </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.EE }} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="CP">
                                            <th mat-header-cell *matHeaderCellDef> CP </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.CP }} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="ENFQ_TEO">
                                            <th mat-header-cell *matHeaderCellDef> T </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.ENFQ_TEO }} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="ENFQ_PRAC">
                                            <th mat-header-cell *matHeaderCellDef> P </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.ENFQ_PRAC }} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="ENFQ_TEOPRAC">
                                            <th mat-header-cell *matHeaderCellDef> T/P </th>
                                            <td mat-cell *matCellDef="let element"> {{ element.ENFQ_TEOPRAC }} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-raised-button (click)="removeFromSemester(element)" class="btn-accion" color="primary" [disabled]="!(enEdicionSemestreNuevo || enEdicionSemestreViejo) || (semestre.length == 0) || !(numero === punteroSemestrePlan)">-</button>
                                            </td>
                                        </ng-container>
                    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSemestre"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSemestre;"></tr>
                                    </table>
                                </div> 

                                <div class="resumenTabla">
                                    <!-- <ng2-smart-table [settings]="tbSemestreTotal" [source]="dataSemestreTotal[numero]">
                                    </ng2-smart-table> -->
                                    
                                    <table mat-table [dataSource]="dataSemestreTotal[numero]" class="mat-elevation-z5 tabla-total">

                                        <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef class="none"> Espacio académico </th>
                                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="creditos">
                                            <th mat-header-cell *matHeaderCellDef class="none"> Créditos </th>
                                            <td mat-cell *matCellDef="let element"> {{element.creditos}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="htd">
                                            <th mat-header-cell *matHeaderCellDef class="none"> HTD </th>
                                            <td mat-cell *matCellDef="let element"> {{element.htd}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="htc">
                                            <th mat-header-cell *matHeaderCellDef class="none"> HTC </th>
                                            <td mat-cell *matCellDef="let element"> {{element.htc}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="hta">
                                            <th mat-header-cell *matHeaderCellDef class="none"> HTA </th>
                                            <td mat-cell *matCellDef="let element"> {{element.hta}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="OB">
                                            <th mat-header-cell *matHeaderCellDef class="none"> OB </th>
                                            <td mat-cell *matCellDef="let element"> {{element.OB}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="OC">
                                            <th mat-header-cell *matHeaderCellDef class="none"> OC </th>
                                            <td mat-cell *matCellDef="let element"> {{element.OC}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="EI">
                                            <th mat-header-cell *matHeaderCellDef class="none"> EI </th>
                                            <td mat-cell *matCellDef="let element"> {{element.EI}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="EE">
                                            <th mat-header-cell *matHeaderCellDef class="none"> EE </th>
                                            <td mat-cell *matCellDef="let element"> {{element.EE}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="CP">
                                            <th mat-header-cell *matHeaderCellDef class="none"> CP </th>
                                            <td mat-cell *matCellDef="let element"> {{element.CP}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="ENFQ_TEO">
                                            <th mat-header-cell *matHeaderCellDef class="none"> T </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ENFQ_TEO}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="ENFQ_PRAC">
                                            <th mat-header-cell *matHeaderCellDef class="none"> P </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ENFQ_PRAC}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="ENFQ_TEOPRAC">
                                            <th mat-header-cell *matHeaderCellDef class="none"> T/P </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ENFQ_TEOPRAC}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef class="none"> Acciones </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-raised-button (click)="removeFromSemester(element)" class="btn-accion" color="primary" [disabled]="!(enEdicionSemestreNuevo || enEdicionSemestreViejo) || (semestre.length == 0) || !(numero === punteroSemestrePlan)">-</button>
                                            </td>
                                        </ng-container>
                    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSemestreTotal"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSemestreTotal;"></tr>
                                    </table>
                                </div>
                                <mat-action-row>
                                    <button mat-raised-button type="button" (click)="limpiarSemestre(semestre)"
                                        [disabled]="!enEdicionSemestreNuevo"
                                        [hidden]="!enEdicionPlanEstudio || (numero+1) !== dataSemestre.data.length">{{
                                        'GLOBAL.limpiar' | translate }}</button>
                                    <button mat-raised-button type="button" color="primary"
                                        (click)="editarSemestre(numero)" [disabled]="enEdicionSemestreNuevo"
                                        [hidden]="!enEdicionPlanEstudio || (numero === punteroSemestrePlan && (enEdicionSemestreNuevo || enEdicionSemestreViejo))">{{
                                        'plan_estudios.editar_semestre' | translate }}</button>        
                                    <button mat-raised-button type="button" color="primary"
                                        (click)="finalizarSemestre()"
                                        [disabled]="!(enEdicionSemestreNuevo || enEdicionSemestreViejo) || (semestre.length == 0) || !(numero === punteroSemestrePlan)"
                                        [hidden]="!enEdicionPlanEstudio">{{ 'plan_estudios.finalizar_semestre' |
                                        translate }}</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <mat-card status="success" class="recuadro" style="margin: 2rem 0px 1rem 0px;"
                            *ngIf="dataSemestre.data.length > 0">
                            <mat-card-header class="d-flex justify-content-around align-items-center"
                                style="padding: 5px;">
                                {{ 'plan_estudios.resumen_general' | translate }}
                            </mat-card-header>
                            <mat-card-content style="padding: 1px;">
                                <div class="resumenTotal">
                                    <!-- <ng2-smart-table [settings]="tbSemestreTotal" [source]="dataSemestreTotalTotal">
                                    </ng2-smart-table> -->
                                    <table mat-table [dataSource]="dataSemestreTotalTotal" class="mat-elevation-z5">

                                        <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef> Espacio académico </th>
                                            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="creditos">
                                            <th mat-header-cell *matHeaderCellDef> Créditos </th>
                                            <td mat-cell *matCellDef="let element"> {{element.creditos}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="htd">
                                            <th mat-header-cell *matHeaderCellDef> HTD </th>
                                            <td mat-cell *matCellDef="let element"> {{element.htd}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="htc">
                                            <th mat-header-cell *matHeaderCellDef> HTC </th>
                                            <td mat-cell *matCellDef="let element"> {{element.htc}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="hta">
                                            <th mat-header-cell *matHeaderCellDef> HTA </th>
                                            <td mat-cell *matCellDef="let element"> {{element.hta}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="OB">
                                            <th mat-header-cell *matHeaderCellDef> OB </th>
                                            <td mat-cell *matCellDef="let element"> {{element.OB}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="OC">
                                            <th mat-header-cell *matHeaderCellDef> OC </th>
                                            <td mat-cell *matCellDef="let element"> {{element.OC}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="EI">
                                            <th mat-header-cell *matHeaderCellDef> EI </th>
                                            <td mat-cell *matCellDef="let element"> {{element.EI}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="EE">
                                            <th mat-header-cell *matHeaderCellDef> EE </th>
                                            <td mat-cell *matCellDef="let element"> {{element.EE}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="CP">
                                            <th mat-header-cell *matHeaderCellDef> CP </th>
                                            <td mat-cell *matCellDef="let element"> {{element.CP}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="ENFQ_TEO">
                                            <th mat-header-cell *matHeaderCellDef> T </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ENFQ_TEO}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="ENFQ_PRAC">
                                            <th mat-header-cell *matHeaderCellDef> P </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ENFQ_PRAC}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="ENFQ_TEOPRAC">
                                            <th mat-header-cell *matHeaderCellDef> T/P </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ENFQ_TEOPRAC}} </td>
                                        </ng-container>
                    
                                        <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-raised-button (click)="removeFromSemester(element)" class="btn-accion" color="primary" [disabled]="!(enEdicionSemestreNuevo || enEdicionSemestreViejo)">-</button>
                                            </td>
                                        </ng-container>
                    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSemestreTotalTotal"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSemestreTotalTotal;"></tr>
                                    </table>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </mat-step>
                </mat-horizontal-stepper>
            </fieldset>
        </ng-container>
        <ng-container *ngSwitchCase="VIEWS.SECONDARY_FORM">
            <fieldset [@fadeInOut] [ngClass]="{'fieldseter':true}" class="sombra-mini">
                <legend class="modo-ventana">
                    <small>&nbsp; {{ 'plan_estudios.crear_editar' | translate }} </small>
                    <i class="fa fa-times fa-2xs button cancel" aria-hidden="true"
                        title="{{'GLOBAL.cancelar' | translate}}" (click)="cancelar()"></i>
                </legend>
                <mat-horizontal-stepper #stepper [linear]="true">

                    <mat-step>
                        <ng-template matStepLabel>{{ 'espacios_academicos.select_proyecto' | translate }}</ng-template>
                        <dinamic-form-group [defineForm]="formPlanEstudio" (subsChanges)="cambioEn($event)"
                            (createdForm)="asignarForm($event)"
                            (updatedForm)="actualizarForm($event)"></dinamic-form-group>
                        <div class="alinear-center" [class.right]="!enEdicionPlanEstudio">
                            <button mat-raised-button (click)="limpiar()"
                                [hidden]="!enEdicionPlanEstudio || !modoCreacion">{{ 'GLOBAL.limpiar' | translate}}</button>
                            <button mat-raised-button [color]="formGroupPlanEstudio.valid ? 'primary' : ''"
                                (click)="guardar(stepper)" [disabled]="!formGroupPlanEstudio.valid"
                                [hidden]="!enEdicionPlanEstudio">{{ 'GLOBAL.guardar_continuar' | translate }}</button>
                            <button mat-raised-button matStepperNext [hidden]="enEdicionPlanEstudio">{{
                                'GLOBAL.siguiente' | translate }}</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>{{ 'plan_estudios.parametrizacion_plan_ciclos' | translate
                            }}</ng-template>
                        <div class="alinear-center">
                            <div class="advertencia">
                                {{ 'plan_estudios.mensaje_tabla_planes_por_ciclos_indice_orden' |
                                translate }}
                            </div>
                        </div>
                        <!-- <ng2-smart-table [settings]="tbSimpleStudyPlans" [source]="dataSimpleStudyPlans"
                            (custom)="onAction($event)">
                        </ng2-smart-table> -->
                        <table mat-table [dataSource]="dataSimpleStudyPlans" class="mat-elevation-z5">

                            <ng-container matColumnDef="plan_estudio">
                                <th mat-header-cell *matHeaderCellDef> Plan de estudios </th>
                                <td mat-cell *matCellDef="let element"> {{element.plan_estudio}} </td>
                            </ng-container>

                            <ng-container matColumnDef="proyectoCurricular">
                                <th mat-header-cell *matHeaderCellDef> Proyecto curricular </th>
                                <td mat-cell *matCellDef="let element"> {{element.proyectoCurricular}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="resolucion">
                                <th mat-header-cell *matHeaderCellDef> Resolución </th>
                                <td mat-cell *matCellDef="let element"> {{element.resolucion}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="totalCreditos">
                                <th mat-header-cell *matHeaderCellDef> Total de créditos </th>
                                <td mat-cell *matCellDef="let element"> {{element.totalCreditos}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="planPorCiclos">
                                <th mat-header-cell *matHeaderCellDef> Plan por ciclos </th>
                                <td mat-cell *matCellDef="let element"> {{element.planPorCiclos}} </td>
                            </ng-container>
 
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-raised-button (click)="addPlan(element._id)" class="btn-accion" color="primary">+</button>
                                </td>
                            </ng-container>
        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsStudy"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsStudy;"></tr>
                        </table>
                        <br>
                        <mat-card class="alinear-center espacio-doble mat-card-custom">
                            <mat-card-header>
                                <mat-card-title>
                                    {{ 'plan_estudios.planes_estudio_asignados' | translate}}
                                </mat-card-title>
                            </mat-card-header>
                        </mat-card>
                        <!-- <ng2-smart-table [settings]="tbOrganizedStudyPlans" [source]="dataOrganizedStudyPlans"
                            (custom)="onAction($event)">
                        </ng2-smart-table> -->
                        <table mat-table [dataSource]="dataOrganizedStudyPlans" class="mat-elevation-z5">

                            <ng-container matColumnDef="plan_estudio">
                                <th mat-header-cell *matHeaderCellDef> Plan de estudios </th>
                                <td mat-cell *matCellDef="let element"> {{element.plan_estudio}} </td>
                            </ng-container>

                            <ng-container matColumnDef="proyectoCurricular">
                                <th mat-header-cell *matHeaderCellDef> Proyecto curricular </th>
                                <td mat-cell *matCellDef="let element"> {{element.proyectoCurricular}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="resolucion">
                                <th mat-header-cell *matHeaderCellDef> Resolución </th>
                                <td mat-cell *matCellDef="let element"> {{element.resolucion}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef> Estado </th>
                                <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="totalCreditos">
                                <th mat-header-cell *matHeaderCellDef> Total de créditos </th>
                                <td mat-cell *matCellDef="let element"> {{element.totalCreditos}} </td>
                            </ng-container>
        
                            <ng-container matColumnDef="planPorCiclos">
                                <th mat-header-cell *matHeaderCellDef> Plan por ciclos </th>
                                <td mat-cell *matCellDef="let element"> {{element.planPorCiclos}} </td>
                            </ng-container>

                            <ng-container matColumnDef="orden">
                                <th mat-header-cell *matHeaderCellDef> Orden </th>
                                <td mat-cell *matCellDef="let element"> {{element.planPorCiclos}} </td>
                            </ng-container>
 
                            <ng-container matColumnDef="acciones">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-raised-button (click)="removePlan(element._id)" class="btn-accion" color="primary">-</button>
                                </td>
                            </ng-container>
        
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsOrganizedStudy"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumnsOrganizedStudy;"></tr>
                        </table>
                        <br>
                        <div class="alinear-center espacio-doble">
                            <button mat-raised-button matStepperPrevious [hidden]="enEdicionPlanEstudio">{{
                                'GLOBAL.regresar' | translate }}</button>
                            <button mat-raised-button color="primary" (click)="registrarPlanOrdenado()"
                                [disabled]="!dataOrganizedStudyPlans || dataOrganizedStudyPlans.data.length == 0"
                                [hidden]="!enEdicionPlanEstudio">{{ 'GLOBAL.guardar' | translate }}</button>
                            <button mat-raised-button color="primary" (click)="generarPlanEstudio()"
                                [disabled]="!dataOrganizedStudyPlans || dataOrganizedStudyPlans.data.length == 0">{{
                                'plan_estudios.generar_plan' | translate }}</button>
                            <button mat-raised-button (click)="salirEdicionFormulario()">{{ 'GLOBAL.salir' | translate
                                }}</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </fieldset>
        </ng-container>
        <ng-container *ngSwitchCase="VIEWS.SUMMARY">
            <fieldset [@fadeInOut] [ngClass]="{'fieldseter':true}" class="sombra-mini">
                <legend class="modo-ventana">
                    <small>&nbsp; {{ 'plan_estudios.resumen' | translate }} </small>
                    <i class="fa fa-times fa-2xs button cancel" aria-hidden="true"
                        title="{{'GLOBAL.cancelar' | translate}}" (click)="vista=VIEWS.LIST;"></i>>
                </legend>
                <summary-planes-estudio [dataPlanes]="dataPlanes"></summary-planes-estudio>
            </fieldset>
        </ng-container>
    </mat-card-content>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>