<mat-card>
  <mat-card-header style="display: flex; justify-content: space-between">
    <mat-card-title>
      {{ "plan_estudios.evaluar" | translate }}
    </mat-card-title>
    <button mat-icon-button color="primary" (click)="salirObservacion()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form
      novalidate
      [formGroup]="revisionForm"
      #fform="ngForm"
      class="form-horizontal"
    >
      <h3 class="margin-y">{{ "plan_estudios.evaluacion" | translate }}</h3>

      <ng-container>
        <mat-form-field style="width: 100%">
          <!-- <mat-label>{{ 'plan_estudios.estado_evaluacion' | translate }}</mat-label> -->
          <mat-label>Estado de Evaluación</mat-label>
          <input
            matInput
            type="text"
            formControlName="estadoSeleccionado"
            [disabled]="true"
            readonly
          />
        </mat-form-field>
      </ng-container>

      <mat-form-field style="width: 100%" floatLabel="always">
        <!-- <mat-label>{{ 'GLOBAL.observaciones' | translate }}</mat-label> -->
        <mat-label>Observaciones</mat-label>
        <textarea
          matInput
          rows="5"
          formControlName="observaciones"
          [disabled]="true"
          readonly
        ></textarea>
      </mat-form-field>

      <!-- <p class="bold">{{ 'plan_estudios.quien_da_respuesta' | translate }}: </p> -->
      <p class="bold">Evaluado por:</p>

      <div class="form-grid2">
        <div class="form-item form-col1">
          <mat-form-field style="width: 100%" class="form-field">
            <!-- <mat-label for="nombreEvaluador">{{ 'plan_estudios.nombre_evaluador' | translate }}</mat-label> -->
            <mat-label for="nombreEvaluador"
              >Nombre del coordinador respectivo</mat-label
            >
            <input
              matInput
              type="text"
              formControlName="nombreEvaluador"
              [disabled]="true"
              readonly
            />
          </mat-form-field>
        </div>
        <div class="form-item form-col1">
          <mat-form-field style="width: 100%" class="form-field">
            <!-- <mat-label>{{ 'GLOBAL.rol' | translate }}</mat-label> -->
            <mat-label>Rol</mat-label>
            <input
              matInput
              type="text"
              formControlName="rolSeleccionado"
              [disabled]="true"
              readonly
            />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
